@charset "utf-8";



input::-webkit-input-placeholder {color: #aaa;}
/*i.ion-close-circled{ display: none }*/
/*注册*/
.bar-header{background-color:#3ec3ba; background-image: none;position: relative; }
.bar-header .title{color: #fff; font-size: 20px; width: 70%; margin: 0 auto;}
.doc-reg-top{ top:44px; }
.doc-reg-bottom{ bottom:40px; }
.list{padding:0; border:none;  }
.item{ margin:0; border:none; }
.doc-reg-list .item i{ float: right; margin-top: 8px; color: #aaa;display: none;}
.doc-reg-list .item img{ float: left; width: 19px; margin: 8px 10px 0px 0px; }
.doc-reg-list .item input{ color: #464646; font-size: 16px; font-family: Microsoft YaHei; }
.doc-reg-list .item.item-code i{margin-right: 25px;}
.doc-reg-list .item.item-code input{ width: 45%; }
.doc-reg-list .item.item-code .code{ float: right; color: #3ec3ba; font-size: 12px; margin-top: 8px; }
.doc-reg-list .item.item-code .code.cur{color: #aaa;}
.doc-reg-list .item .list-text{ height: 34px; line-height: 34px; color: #aaa; font-size: 15px; }
.doc-reg-list .item .list-cert-text{ float: left; width: 50%; line-height: 14px; white-space:normal; margin-top: 4px; }
.doc-reg-list .item .list-cert-text span{display: block; height: auto; line-height:20px; color: #333}
.doc-reg-list .item .list-cert-text small{ font-size: 12px; color: #aaa }
.doc-reg-list .item.list-avatar .list-cert-text small{ color: #3ec3ba; }
.doc-reg-list .item .list-cert-img{ float: right; width: 20%;overflow: hidden; }
.doc-reg-list .item .list-cert-img.haedimg{border-radius: 100%;}
.doc-reg-list .item .list-cert-img img{ width: auto; max-width: 100%; margin:0; float: right; }

.reg-button{ width: 90%; margin:20px auto; height: 40px; line-height:40px; text-align: center; color: #fff; font-size: 16px; background-color: #3ec3ba; border-radius: 4px; border:1px solid #e5e5e5; box-sizing: border-box;   }
.reg-remind{padding: 0 16px;color: #666}
.reg-remind span{color: #aaa}
.reg-filter{ width: 100%; height: 100%; position: fixed; left: 0; top:0; background-color: #fff; z-index: 9; display: none }
.reg-filter .bar-header.bar-hospital,.reg-filter .bar-header.bar-Departments,.reg-filter .bar-header.bar-jobTitle{display: none}
.bar-header .reg-return{ float: left; width: 10%; text-align: center; color: #fff; font-size: 20px; line-height: 34px;}
.bar-hospital .search-text{ width: 70%; height: 34px;  background-color: #fff; border-radius: 5px; display: inline-block; position: relative; margin-left: 10px; }
.bar-hospital .search-text i{position: absolute; right: 8px; top:8px; color: #aaa; font-size: 16px;  }
.bar-hospital .search-text img{ float: left; width: 19px; margin:8px; }
.bar-hospital .search-text input{color: #464646; font-size: 15px; font-family: Microsoft YaHei; }
.bar-hospital .search-but{ position: absolute; right: 16px; top:5px; color: #fff; font-size: 16px;line-height: 34px; }

.reg-list-con .item i{ float: right; color: #3ec3ba; font-size: 18px; display: none }
.reg-list-con .item p{ color: #666; font-size: 16px; }
.reg-list-con .reg-list-terms{ margin:16px; color:#666; font-size: 16px; }

.foot-but{ width: 100%; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 17px; background-color: #3ec3ba; position: fixed; left: 0; bottom:0; display: none; }
.firstregedittit{width: 100%;height: 60px;line-height: 60px;color: #333;position: relative;background-color: white;text-align: center;font-size: 16px;font-weight: bold;}


/*医生列表*/
#add-btn{color: white;font-size: 16px;}
.doclist .doc-item{position: relative;overflow: hidden;padding: 10px 0 10px 0;background-color: #fff;width: 100%}
.doclist .doc-pic{width: 70px;height: 70px;position: absolute;left: 16px;border: 1px solid #e3e3e3;border-radius: 50%;overflow: hidden;}
.doclist .doc-pic img{width: 100%}
.doclist .doc-txt{margin-left: 98px;}
.doclist .doc-txt .performance{position:absolute;right: 16px;top: 8px;background: url('../images/new/date_inc.png')no-repeat 6px 4px;background-size: 26%;padding-left: 27px;color: #3dc3ba;border: 1px solid #3dc3ba;width: 60px;
    height: 26px;line-height: 22px;border-radius: 1px;font-size: 12px;}
.doclist .doc-txt .info {font-size: 16px;margin-bottom:4px;position: relative;padding-bottom: 5px}
.doclist .doc-txt .info small{color: #666;font-size: 12px;}
.doclist .doc-txt .info span{font-size: 0.6em;color: #666}
.doclist .doc-txt .state{padding-top: 8px;font-size: 12px;padding: 3px 16px 0 8px;}
.doclist .doc-txt .state .green{background-color: #3dc3ba;}
.doclist .doc-txt .state .yellow{background-color: #f9c700;}
.doclist .doc-txt .state .red{background-color: #ff0600;}
.doclist .doc-txt .state .gray{background-color: #b0b0b0;}
.doclist .doc-txt .state span{color: white;font-size: 0.7em;padding: 1px;border-radius: 3px;}
.doclist .doc-txt .state em{float: right;color: #999;font-size: 0.7em;}

/*医生绩效明细*/
.docinfo{width: 100%;height: 170px;background-color: #3ec3ba;text-align: center;color: white;display:flex;align-items: center;}
.docinfo .doc-pic{width: 90px;height: 90px;overflow: hidden;border-radius: 50%;display: inline-block;}
.docinfo .col p{margin: 0;font-size: 16px}
.docinfo .col p span{font-size: 0.6em}
.docinfo .doc-pic img{width: 100%}
.data{display: flex;width: 100%;height: 85px;background-color: white;align-items: center;text-align: center;}
.data .col{position: relative;}
.data .col img{width: 32px;vertical-align: middle;display: inline-block;}
.data .col p{vertical-align: middle;display: inline-block;margin-bottom: 0;color: #666;font-size: 12px;line-height: 15px;margin-left: 2px;text-align: left;}
.data .col p span{color: #aaa;font-size: 16px;}


.public-list{position: relative; padding:0;}
.public-list p,.public-list span{ font-size: 15px;color: #333;}
.public-list .ion-ios-arrow-right{ font-size: 20px; color: #ccc; right: 0px;}
.public-list .ion-close-circled{ font-size: 20px; color: #ccc; right: 5px;}
/*.public-list .item.item-icon-right{padding: 10px 26px 10px 16px; line-height: 30px; margin:0; }*/
.public-list .item:last-child{margin-bottom: -1px;}
.public-list .fl-img{ width: 18px; float: left; margin-right: 10px;margin-top: 2px;}
.public-list .fl-img img{width: 100%}
.public-list .fr-text{ color: #aaa;font-size: 15px;text-align: right;float: right;}
.public-list .fl-text{float: left; color: #666; font-size: 15px;}
.public-list .fr-text i{vertical-align: middle;margin-right: 10px;}
.public-list .fr-text em{vertical-align: middle;font-size: 13px;}
.public-list small{text-align: right;color: #aaa;float: right;margin-top: -20px;font-size: 12px;}
.public-list .fr-text-ion{float: right; color: #333; font-size: 15px;margin-top: 1px;}
.public-list .fr-input{float: right; text-align: right; height: 30px;line-height: 30px; font-size: 15px; color: #666; padding:0;}
.public-list .fl-input{float: left; text-align: left; height: 32px;  font-size: 15px; margin-top: -3px; margin-bottom: -5px;}
.public-list .item p{overflow: visible;text-overflow:clip; ;white-space: nowrap;}

.toggle{margin-top: 0}
.toggle input:checked+ .track {background-color: #40c8bf;border-color: #40c8bf;}
.toggle .track { width: 46px;height: 26px;border: 1px solid #e6e6e6;}
.toggle .handle {width: 22px;height: 22px;top: 16px}

.icon-return {width: 40px;height: 44px;position: absolute;left: 0px;top: 0px;font-size: 24px;padding-top: 10px;text-align: center;color: #fff; z-index: 99999;}

/*信息认证*/
.review{width: 100%;height: 114px;background-color: #3ec3ba;color: white;	display: flex;align-items: center;justify-content: center;}
/*.review img{width: 30px;vertical-align: middle;}*/
.review .auditing{background: url('../images/black-white/authenticate_inc01.png')no-repeat 0 0;background-size: 25px;padding-left: 30px;font-size: 20px;}
.review-txt{padding: 0 16px}
.review-txt .cha1{color: #666;font-size: 12px;margin-top: 15px;margin-bottom: 20px}
.review-txt span{color: white;display: inline-block;width:100%;height: 40px;background-color: #3ec3ba;border-radius: 3px;line-height: 40px;font-size: 16px;text-align: center}
.re-contact{position: relative;}
.re-contact p{padding: 0 16px;margin-top: 15px;font-size: 12px;color: #bababa;padding-top: 10px}
.re-contact p strong{color: #929292;text-decoration: underline;}


/*用户明细*/
.userlist{}
.userlist .user-item{position: relative;overflow: hidden;padding: 10px 0 10px 0;background-color: #fff;width: 100%}
.userlist .user-pic{width: 70px;height: 70px;border: 1px solid #e3e3e3;border-radius: 50%;overflow: hidden;margin-left: 16px;position: absolute;}
.userlist .user-pic img{width: 100%}
.userlist .user-txt{margin-left: 100px;margin-top: 10px;min-height: 62px;}
.userlist .user-txt .info{font-size: 17px;color: #333;line-height: 24px}
.userlist .user-txt .info span{font-size: 13px;color: #aaa}
.userlist .user-txt .info img{width: 15px}

/*个人收益*/
.price-box{width: 100%;height: 168px;background-color: #3ec3ba;color: white;padding: 0 16px}
.price-box .price-tit{font-size: 16px;background: url('../images/black-white/inc_Money.png')no-repeat 0 1px;background-size: 17px;padding-left: 22px;margin-top: 15px;display: inline-block;float: left;}
.price-box .price{font-size: 40px;margin-top: 78px; display: inline-block;margin-left: -135px;}

/*收支明细*/
.wallts{background-color: white;}
.detail_left {padding: 10px 16px;display: inline-block;}
.detail_left dl {margin-bottom: 0px;}
.detail_left dl dt {font-weight: normal;color: #666666;}
.detail_left dl dd {font-size: 12px;color: #aaaaaa;}
.detail_right { display: inline-block;position: absolute;right: 24px; top: 20px;}
.detail_right .color_red {color: red; font-size: 15px;}
.detail_right .color_green {color: #3ec3ba;}

/*关联产品*/
.product .pro-box{width: 100%;background-color: #fff;position: relative;}
.product .pro-box .pro{position: relative;padding: 10px 0}
.pro-box >span{width: 20px;height: 20px;display: inline-block;background-color: #f53333;position: absolute;top: 2px;left: 3px;color: white;line-height: 20px;text-align: center;z-index: 3}
.pro .pro-pic{ width: 65px;height: 65px;position: absolute;left: 16px;border: 1px solid #e3e3e3;overflow: hidden;}
.pro .pro-txt{padding-left: 92px;font-size: 16px;color: #333;width: 86%}
.pro .pro-txt p{margin-bottom: 5px}
.pro .pro-txt span{font-size: 14px;color: #f6415a;}
.pro .del {width: 18%;height: 100%;display: inline-block;vertical-align: middle;color: #fff;text-align: center;background-color: #f53333;position: absolute;top: 0;right: 0%;z-index: 2;}
.pro .del span {vertical-align: middle;font-size: 16px;}
.pro .del i{vertical-align: middle;display: inline-block;height: 100%;}
.pro-box .turntop{background-color: #eaf7f6;width: 100%;height: 30px;line-height: 30px;}
.pro-box .turntop p{text-align: right;font-size: 0.9em;padding-right: 4%;}
.pro-box .turntop p em {float: left;border: 1px solid #3ec3ba;display: inline-block;line-height: 19px;padding: 0 7px;margin: 4px 0 0 16px;border-radius: 3px;color: #3ec3ba;}
.pro-box .turntop p span {color: #3ec3ba;}
.pro-footer {padding: 0;color: #fff; font-size: 15px;line-height: 34px;}
.determine{ position: relative;background-color: #3ec3ba;text-align: center;font-size: 16px;text-align: center;color: #fff;border: none;padding: 5px;}


/*添加产品*/
.pro .isadd{font-size: 12px;color: white;position: absolute;right: 5px;top: 31px;border-radius: 2px;background: #aaa;width: 45px;height: 22px;text-align: center;line-height: 22px;}


/*关联方案*/
.pro .pro_img {width: 94%;box-sizing: border-box;margin: 0 auto;}
.pro-box .subtotal {position: absolute;border: 1px solid #3ec3ba;padding: 1px 7px;line-height: 20px;right: 1.2em;top: 1.2em;color: #3ec3ba;z-index: 9;background-color: #fff;font-size: 14px;text-align: center;}
