@charset "utf-8";

input::-webkit-input-placeholder {color: #aaa;}
/*i.ion-close-circled{ display: none }*/
/*注册*/
.bar-header{background-color:#d32f2f; background-image: none;position: relative; }
.bar-header .title{color: #fff; font-size: 17px; width: 70%; margin: 0 auto;}
.doc-reg-top{ top:44px; }
.doc-reg-bottom{ bottom:40px; }
.list{padding:0; border:none;  }
.item{ margin:0; border:none;}
.doc-reg-list .item >i{ float: right; margin-top: 8px; color: #aaa;display: none;}
.doc-reg-list .item >img{ float: left; width: 19px; margin: 8px 10px 0px 0px; }
.doc-reg-list .item input{ color: #464646; font-size: 16px; font-family: Microsoft YaHei; margin-top:2px;}
.doc-reg-list .item input[readonly]:not(cloned-text-input){background-color: white;}
.doc-reg-list .item.item-code i{margin-right: 25px;}
.doc-reg-list .item.item-code input{ width: 45%; }
.doc-reg-list .item.item-code .code{ float: right; color: #d32f2f; font-size: 12px; margin-top: 8px; }
.doc-reg-list .item.item-code .code.cur{color: #aaa;}
.doc-reg-list .item .list-text{ height: 34px; line-height: 34px; color: #aaa; font-size: 15px; }
.doc-reg-list .item .list-cert-text{ float: left; width: 50%; line-height: 14px; white-space:normal; margin-top: 7px; }
.doc-reg-list .item .list-cert-text span{display: block; height: auto; line-height:20px; color: #333}
.doc-reg-list .item .list-cert-text small{ font-size: 12px; color: #aaa }
.doc-reg-list .item.list-avatar .list-cert-text small{ color: #d32f2f; }
.doc-reg-list .item .list-cert-img{ float: right; overflow: hidden; }
.doc-reg-list .item .list-cert-img.headimg{ width: 70px; height: 70px; border-radius: 100%;}
.doc-reg-list .item .list-cert-img img{  }

.reg-button{ width: 90%; margin:20px auto; height: 40px; line-height:40px; text-align: center; color: #fff; font-size: 16px; background-color: #d32f2f; border-radius: 4px; border:1px solid #e5e5e5; box-sizing: border-box;   }
.reg-remind{padding: 0 16px;color: #666}
.reg-remind span a{color: #aaa}
.reg-filter{ width: 100%; height: 100%; position: fixed; left: 0; top:0; background-color: #fff; z-index: 9; display: none }
.reg-filter .bar-header.bar-hospital,.reg-filter .bar-header.bar-Departments,.reg-filter .bar-header.bar-jobTitle{display: none}
.bar-header .reg-return{ float: left; width: 10%; text-align: center; color: #fff; font-size: 20px; line-height: 34px;}
.bar-hospital .search-text{ width: 70%; height: 34px;  background-color: #fff; border-radius: 5px; display: inline-block; position: relative; margin-left: 10px; }
.bar-hospital .search-text i{position: absolute; right: 8px; top:8px; color: #aaa; font-size: 16px;  }
.bar-hospital .search-text img{ float: left; width: 19px; margin:8px; }
.bar-hospital .search-text input{color: #464646; font-size: 15px; font-family: Microsoft YaHei;padding-top: 5px; }
.bar-hospital .search-but{ position: absolute; right: 16px; top:5px; color: #fff; font-size: 16px;line-height: 34px; }

.reg-list-con .item i{ float: right; color: #d32f2f; font-size: 18px; display: none }
.reg-list-con .item p{ color: #666; font-size: 16px; }
.reg-list-con .reg-list-terms{ margin:16px; color:#666; font-size: 16px;}

.foot-but{ width: 100%; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 17px; background-color: #d32f2f; position: fixed; left: 0; bottom:0; display: none; }
.firstregedittit{width: 100%;height: 60px;line-height: 60px;color: #333;position: relative;background-color: white;text-align: center;font-size: 16px;font-weight: bold;}
.radio {position: relative;overflow: hidden;background-color: white}
.radioTit {font-size:16px;color: #666;line-height: 3em;margin-left: 16px;}
.radio_list {float: left;padding: 0 0 1em 0;margin-left: 16px;width: calc(50% - 16px);}
.radio-btn {width: 17px; height: 17px;float: left;display: inline-block;cursor: pointer;position: relative; -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 1px solid #666666;margin-top: 2px;margin-right: 5px;}
.radio-btn i {border: 1px solid #E1E2E4;width: 7px;height: 7px;position: absolute;left: 4px;top: 4px;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.checkedRadio i {background-color: #666666;}
.radio-btn input[type="radio"], .check-box input[type="checkbox"] {visibility: hidden;}
.radio_list label {font-size: 16px;color: #464646;}

/*医生列表*/
#add-btn{color: white;font-size: 16px;}
.doclist .doc-item{position: relative;overflow: hidden;padding: 10px 0 10px 0;background-color: #fff;width: 100%}
.doclist .doc-pic{width: 70px;height: 70px;position: absolute;left: 16px;border: 1px solid #e3e3e3;border-radius: 50%;overflow: hidden;}
.doclist .doc-pic img{width: 100%}
.doclist .doc-txt{margin-left: 98px;}
.doclist .doc-txt .performance{position:absolute;right: 14px;top: 8px;background: url('../images/new/date_inc.png')no-repeat 6px 4px;background-size: 26%;padding-left: 27px;color: #3dc3ba;border: 1px solid #3dc3ba;width: 60px;
    height: 26px;line-height: 26px;border-radius: 1px;font-size: 12px;}
.doclist .doc-txt .info {font-size: 16px;margin-bottom:4px;position: relative;padding-bottom: 3px}
.doclist .doc-txt .info small{color: #666;font-size: 13px;}
.doclist .doc-txt .info span{font-size: 12px;color: #aaa}
.doclist .doc-txt .state{padding-top: 8px;font-size: 12px;padding: 3px 16px 0 8px;}
.doclist .doc-txt .state .green{background-color: #3dc3ba;}
.doclist .doc-txt .state .yellow{background-color: #f9c700;}
.doclist .doc-txt .state .red{background-color: #ff0600;}
.doclist .doc-txt .state .gray{background-color: #b0b0b0;}
.doclist .doc-txt .state span{color: white;padding: 2px;border-radius: 3px;}
.doclist .doc-txt .state em{float: right;color: #999;}
.per-it .item{padding: 18px}

/*医生绩效明细*/
.docinfo{width: 100%;height: 170px;background-color: #d32f2f;text-align: center;color: white;display:flex;align-items: center;}
.docinfo .doc-pic{width: 88px;height: 88px;overflow: hidden;border-radius: 50%;display: inline-block;}
.docinfo .col {padding-top: 8px}
.docinfo .col p{margin: 0;font-size: 16px}
.docinfo .col p span{font-size: 0.8em}
.docinfo .doc-pic img{width: 100%}
.data{display: flex;width: 100%;height: 85px;background-color: white;align-items: center;text-align: center;}
.data .col{position: relative;}
.data .col img{width: 32px;vertical-align: middle;display: inline-block;}
.data .col p{vertical-align: middle;display: inline-block;margin-bottom: 0;color: #666;font-size: 12px;line-height: 15px;margin-left: 2px;text-align: left;}
.data .col p span{color: #aaa;font-size: 16px;}


.public-list{position: relative; padding:0;}
.public-list p,.public-list span{ font-size: 15px;color: #333;}
.public-list .ion-ios-arrow-right{ font-size: 20px; color: #ccc; right: 0px;}
.public-list .ion-close-circled{ font-size: 20px; color: #ccc; right: 5px;}
/*.public-list .item.item-icon-right{padding: 10px 26px 10px 16px; line-height: 30px; margin:0; }*/
.public-list .item:last-child{margin-bottom: -1px;}
.public-list .fl-img{ width: 18px; float: left; margin-right: 10px;margin-top: 1px;}
.public-list .fl-img img{width: 100%}
.public-list .fr-text{ color: #aaa;font-size: 15px;text-align: right;float: right;}
.public-list .fl-text{float: left; color: #666; font-size: 15px;}
.public-list .fr-text i{vertical-align: middle;margin-right: 10px;}
.public-list .fr-text em{vertical-align: middle;font-size: 13px;}
.public-list small{text-align: right;color: #aaa;float: right;margin-top: -20px;font-size: 12px;}
.public-list .fr-text-ion{float: right; color: #333; font-size: 15px;margin-top: 1px;}
.public-list .fr-input{float: right; text-align: right; height: 30px;line-height: 30px; font-size: 15px; color: #666; padding:0;}
.public-list .fl-input{float: left; text-align: left; height: 32px;  font-size: 15px; margin-top: -3px; margin-bottom: -5px;}
.public-list .item p{overflow: visible;text-overflow:clip; ;white-space: nowrap;}

.toggle{margin-top: 0}
.toggle input:checked+ .track {background-color: #d32f2f;border-color: #d32f2f;}
.toggle .track { width: 55px;height: 30px;border: 1px solid #e6e6e6;}
.toggle .handle {width: 26px;height: 26px;top: 16px;left: 7px}
.toggle input:checked+.track .handle {
    -webkit-transform: translate3d(26px,0,0);
    transform: translate3d(26px,0,0);
}
.icon-return {width: 40px;height: 44px;position: absolute;left: 0px;top: -2px;font-size: 30px;padding-top: 10px;text-align: center;color: #fff; z-index: 99999;}

/*信息认证*/
.review{width: 100%;height: 186px;background-color: #d32f2f;color: white;	display: flex;align-items: center;justify-content: center;font-size: 20px;}
.review img{width: 26px;vertical-align: middle;margin-right: 8px}

.review-txt{padding: 0 16px}
.review-txt .cha1{color: #666;font-size: 12px;margin-top: 15px;margin-bottom: 20px;display: none}

.review-txt span{color: white;display: inline-block;width:100%;height: 40px;background-color: #d32f2f;border-radius: 3px;line-height: 40px;font-size: 16px;text-align: center}
.re-contact{position: relative;}
.re-contact p{padding: 0 16px;margin-top: 15px;font-size: 12px;color: #bababa;padding-top: 10px}
.re-contact p span{display: block}
.re-contact p strong a{color: #929292;}


/*用户明细*/
.userlist{}
.userlist .user-item{position: relative;overflow: hidden;padding: 10px 0 10px 0;background-color: #fff;width: 100%}
.userlist .user-pic{width: 70px;height: 70px;border: 1px solid #e3e3e3;border-radius: 50%;overflow: hidden;margin-left: 16px;position: absolute;}
.userlist .user-pic img{width: 100%}
.userlist .user-txt{margin-left: 100px;margin-top: 10px;min-height: 62px;}
.userlist .user-txt .info{font-size: 17px;color: #333;line-height: 24px}
.userlist .user-txt .info span{font-size: 13px;color: #aaa}
.userlist .user-txt .info img{width: 15px;margin-left: 5px;}


/*个人收益*/
.price-box{width: 100%;height: 168px;background-color: #d32f2f;color: white;padding: 0 16px}
.price-box .price-tit{font-size: 16px;background: url('../images/black-white/inc_Money.png')no-repeat 0 1px;background-size: 17px;padding-left: 22px;margin-top: 15px;display: inline-block;float: left;}
.price-box .price{font-size: 40px;margin-top: 78px; display: inline-block;margin-left: -135px;}

/*收支明细*/
.wallts{background-color: white;}
.detail_left {padding: 10px 16px;display: inline-block;}
.detail_left dl {margin-bottom: 0px;}
.detail_left dl dt {font-weight: normal;color: #666666;}
.detail_left dl dd {font-size: 12px;color: #aaaaaa;}
.detail_right { display: inline-block;position: absolute;right: 24px; top: 20px;}
.detail_right .color_red {color: red; font-size: 15px;}
.detail_right .color_green {color: #d32f2f;}

/*关联产品*/
.product .pro-box{width: 100%;background-color: #fff;position: relative;}
.product .pro-box .pro{position: relative;padding: 14px 0}
.pro-box >span{width: 21px;height: 21px;display: inline-block;background-color: #f53333;position: absolute;top: 2px;left: 3px;color: white;line-height: 21px;text-align: center;z-index: 3}
.pro .pro-pic{ width: 68px;height: 68px;position: absolute;left: 13px;border: 1px solid #e3e3e3;overflow: hidden;top: 12px}
.pro .pro-txt{padding-left: 90px;font-size: 16px;color: #333;width: 86%}
.pro .pro-txt p{margin-bottom: 5px}
.pro .pro-txt span{font-size: 14px;color: #f6415a;}
.pro .del {width: 17%;height: 100%;display: inline-block;vertical-align: middle;color: #fff;text-align: center;background-color: #f53333;position: absolute;top: 0;right: -17%;z-index: 2;}
.pro .del span {vertical-align: middle;font-size: 16px;}
.pro .del i{vertical-align: middle;display: inline-block;height: 100%;}
.pro-box .turntop{background-color: #f9f1f1;width: 100%;height: 34px;line-height: 34px;}
.pro-box .turntop p{text-align: right;font-size: 0.9em;padding-right: 4%;}
.pro-box .turntop p em {float: left;border: 1px solid #d32f2f;display: inline-block;line-height: 19px;padding: 2px 8px;margin: 4px 0 0 16px;border-radius: 3px;color: #d32f2f;}
.pro-box .turntop p span {color: #d32f2f;}
.pro-footer {padding: 0;color: #fff; font-size: 15px;line-height: 34px;z-index: 1;}
.determine{ position: relative;background-color: #d32f2f;text-align: center;font-size: 16px;text-align: center;color: #fff;border: none;padding: 5px;}
.doc-reg-bottom{bottom: 46px}

/*添加产品*/
.pro .isadd{font-size: 12px;color: white;position: absolute;right: 5px;top: 33px;border-radius: 2px;background: #d32f2f;width: 45px;height: 24px;text-align: center;line-height: 24px;}


/*关联方案*/
.pro .pro_img {width: 94%;box-sizing: border-box;margin: 0 auto;}
.pro-box .subtotal {position: absolute;right: 16px;top: 14px;color: #fff;z-index:1;background-color: #d32f2f;font-size: 14px;text-align: center;width: 48px;height: 28px;line-height: 28px;}

.doc-reg-list .item .certificate{ width: 90px; height: 68px; margin-top: 8px; text-align: center; background-color: #ccc;}
.doc-reg-list .item .certificate img{ vertical-align: middle;max-width: 100%; max-height: 100%; display: inline-block;}
.doc-reg-list .item .certificate i{display: inline-block; height: 100%; vertical-align: middle;}

/*二维码*/
.invite {background-color: #fff;position: relative;text-align: center;vertical-align: middle;padding: 12px 0;}
.invite img {width: 26px;display: inline;vertical-align: middle;margin-right: 10px;}
.invite span {font-size: 19px;display: inline;vertical-align: middle;color: #666666;}
.invite span small{font-size: 100%;}
.codebox{margin-top: 26px;}
.codebox .code{margin: 0 auto;width: 200px}
.codebox .code img{width: 100%;}
.codebox p{color: #666;font-size: 16px;margin-top: 13px;text-align: center;}

/*搜索*/

.search-input{ width: 100%; position: absolute; top:0;left: 0; height: 44px; background-color:#d32f2f;padding:0 50px 0 45px;}
.search-input >i{ width: 40px;height: 44px;position: absolute; left: 0px; top: -2px; font-size: 30px; padding-top: 10px; text-align: center; color: #fff; }
.search-input span{ position: absolute; right: 0; top:0; display: block; width: 40px; height: 44px;line-height: 44px; font-size: 15px; color: #fff;}

.search-input-box{ position: relative; background-color: #fff; height: 30px; line-height: 30px;margin-top: 7px; border-radius: 5px; overflow: hidden; padding: 0 30px 0 35px;}
.search-input-box em{ display: block; position: absolute; left: 0;top:0; width: 30px; height: 30px; background: url('../images/doctors/search.png') no-repeat 10px center; background-size: 18px; }
.search-input-box input{width: 100%; height: 30px; line-height: 30px; background: none;font-size: 15px;}
.search-input-box i{ position: absolute;right: 0; top:0;color: #aaa;font-size: 18px; width: 30px;text-align: center; display: none;}


/*医院列表*/
.hospital-search{ display: none; }

.public-list-s{background-color: #fff;}
.public-list-s li{ height: 50px;line-height: 50px; padding: 0 16px;position: relative;}
.public-list-s li p{margin-bottom: 0;font-size: 14px;}
.public-list-s li span{position: absolute;right: 16px; display: none; font-size: 22px; color: #d32f2f;}
.public-list-s li.cur span{ display: block}

.select-list-public{}
.select-list-public.dep-top{padding-bottom: 44px;}
.select-list-public .layer-title{position: absolute;}
.select-list-public .layer-title .button-clear.button-clear{ color: #fff;}

.public-select{ display: none; background-color: #d32f2f; color: #fff; text-align: center;font-size: 16px;}