<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="balack" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../asset/libs/ionic/1.3.1/css/ionic.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/base/public.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
	<div class="bar bar-header">
		<i class="icon ion-ios-arrow-left icon-return goback"></i>
		<span class="title title-address">信息认证</span>
	<!-- 	<button class="button button-clear top-subtitle" id="add-btn">添加伙伴</button> -->
	</div>
	<div id="wrapper" class="scroll-content single doc-reg-top">
		<div id="scroller">
			<div class="review">
				<p class=""><img src="../asset/images/black-white/authenticate_inc01.png" alt=""><span>资料正在审核中</span></p>
			</div>
			<div class="review-txt">
				<div class="cha1 aud">感谢您加入「育儿好医生」团队，与我们携手共同为妈妈们提供最专业的育儿服务。</br>我们将在3个工作日内完成您提交的资料审核，审核结果将以短信通知你。</br>认证成功后，请尽快开放时间为妈妈们解决困扰。</div>
				<div class="cha1 fai">
					<p class="remark">由于您提交的认证信息未达审核标准，无法通过认证审核。</p>
					<p class="retroaction"></p>
					<p>认证小贴士：</br>1、请上传本人清晰的正面素底头像照片及医师职业资格证书；</br>2、真实完善各项认证信息资料。</p>
				</div>
				
				<span>查看已经提交的资料</span>
			</div>
			<div class="re-contact line-t">
				<p>如您有疑惑请通过以下方式联系我们</br>客服电话：<strong class="strong">021-51954964</strong></p>
			</div>
		</div>
	</div>

	<!-- loading -->
	<div class="loadbox" style="display: block;">
		<div class="load-main"><i></i><p>加载中...</p></div>
	</div>
</body>
<script src="../asset/libs/sea/sea/2.2.0/sea.js"></script>
<script src="../asset/libs/sea/sea-css/1.0.5/seajs-css.js"></script>
<script src="../config.js"></script>
<script>
	if(!seajs.ISDEV){
		seajs.use("../asset/dist/pages/identification");
	}else{
		seajs.use("../asset/src/pages/identification");
	}

</script>
</html>