<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="balack" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../asset/libs/ionic/1.3.1/css/ionic.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/base/public.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
	
	<div id="wrapper" class="scroll-content single">
		<div id="scroller">
			<div class="docinfo">
			<i class="icon ion-android-arrow-back icon-return goback"></i>
				<div class="col">
					<div class="doc-pic"><img src="../asset/images/doctors/default_v2.png" alt=""></div>
					<p>庄思琪</br><span>广州医科大学附属第一医院</span></p>
				</div>
			</div>

			<div class="data">
				<div class="col line-r">
					<img src="../asset/images/black-white/advisory_inc.png" alt="">
					<p>用户数</br><span class="user-num">0</span></p>
				</div>
				<div class="col line-r">
					<img src="../asset/images/black-white/patient_inc.png" alt="">
					<p>咨询量</br><span class="ask-num">0</span></p>
				</div>
				<div class="col account">
					<img src="../asset/images/black-white/money_inc.png" alt="">
					<p>账户额</br><span>0</span></p>
				</div>
			</div>


			<div class="list public-list mt10">
                <div class="item item-icon-right line-bot  user-a">
                    <img src="../asset/images/black-white/inc_img02.png" alt="" class="fl-img">
                    <p>用户明细</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
                <div class="item item-icon-right line-bot prolist">
                    <img src="../asset/images/black-white/favour-icon.png" alt="" class="fl-img">
                    <p>关联产品</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
                 <div class="item item-icon-right line-bot program">
                    <img src="../asset/images/black-white/inc_img33.png" alt="" class="fl-img">
                    <p>关联方案</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
                <div class="item item-icon-right invitationcode">
                    <img src="../asset/images/black-white/setting-icon.png" alt="" class="fl-img">
                    <p>开放粉丝价</p>
                    <label class=" icon toggle">
					   <input type="checkbox" name="isdefault">
					   <div class="track">
					     <div class="handle"></div>
					   </div>
					</label>
                </div>			
			</div>
			
			
			
		</div>
	</div>

	<!-- loading -->
	<!-- <div class="loadbox" style="display: block;">
		<div class="load-main"><i></i><p>加载中...</p></div>
	</div> -->
</body>
<script src="../asset/libs/sea/sea/2.2.0/sea.js"></script>
<script src="../asset/libs/sea/sea-css/1.0.5/seajs-css.js"></script>
<script src="../config.js"></script>
<script>
	if(!seajs.ISDEV){
		seajs.use("../asset/dist/pages/personal");
	}else{
		seajs.use("../asset/src/pages/personal");
	}

</script>
</html>