<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="balack" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../asset/libs/ionic/1.3.1/css/ionic.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/base/public.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
	<div class="bar bar-header">
		<i class="icon ion-ios-arrow-left icon-return goback"></i>
		<span class="title title-address">关联方案</span>
		<button class="button button-clear top-subtitle" id="add-btn">管理</button>
	</div>
	<div id="wrapper" class="scroll-content single doc-reg-top doc-reg-bottom">
		<div id="scroller">
			
			<div class="product">

				<!-- <div class="pro-box mt10 line-bot">
					<span>2</span>
					<div class="pro line-bot">
						<div class="pro_img imgCenter"><img src="../asset/images/new/program.png" alt=""><i></i></div>
						<div class="del"><span>删除</span><i></i></div>
					</div>

					<div class="subtotal">向上</div>
				</div> -->

			</div>
			
			
		</div>
	</div>
	
	<!-- footer -->
	<div class="bar bar-footer row pro-footer line-t">
		<div class="col determine">添加</div>
	</div>
	<!-- loading -->
	<!-- <div class="loadbox" style="display: block;">
		<div class="load-main"><i></i><p>加载中...</p></div>
	</div> -->
</body>
<script src="../asset/libs/sea/sea/2.2.0/sea.js"></script>
<script src="../asset/libs/sea/sea-css/1.0.5/seajs-css.js"></script>
<script src="../config.js"></script>
<script>
	if(!seajs.ISDEV){
		seajs.use("../asset/dist/pages/program");
	}else{
		seajs.use("../asset/src/pages/program");
	}

</script>
</html>