<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="balack" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>医生注册</title>
	<link rel="stylesheet" type="text/css" href="../asset/libs/ionic/1.3.1/css/ionic.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/base/public.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
	<div class="bar bar-header">
		<i class="icon ion-ios-arrow-left icon-return goback" style="display:none"></i>
		<span class="title title-address">医生注册</span>
	</div>
	<div id="wrapper" class="scroll-content single doc-reg-top">
		<div id="scroller">
			<div class="list doc-reg-list mb10 ">
				<div class="item line-bot">
					<i class="ion-close-circled"></i>
					<img src="../asset/images/black-white/ico_phone.png">
					<input type="text" class="inpTxt" name="mobile" maxlength="11" placeholder="手机号码">
				</div>
				<div class="item line-bot item-code hide">
					<span class="code">获取验证码</span>
					<i class="ion-close-circled"></i>
					<img src="../asset/images/black-white/yanzhengma_icon.png">
					<input type="text" name="code" placeholder="短信验证码">
				</div>
				<div class="item line-bot mb10 item-setpassword">
					<i class="ion-close-circled"></i>
					<img src="../asset/images/black-white/pwd_icon.png">
					<input class="inpTxt" type="password" name="password" placeholder="设置密码">
				</div>
			</div>
			<div class="firstregedittit line-bot hide">完善个人资料</div>

			<div class="list doc-reg-list">

				<div class="radio platform line-bot">
	                <div class="radioTit"><span>注册平台：</span></div>
	                <div class="radio_list">
	                    <div class="radio-btn"><i><input type="radio" name="channel-name" value="2"></i></div>
	                    <label for="">育儿24小时</label>
	                </div>
	                <div class="radio_list">
	                    <div class="radio-btn"><i><input type="radio" name="channel-name" value="4"></i></div>
	                    <label for="">安健宝</label>
	                </div>
				</div>


				<div class="item line-bot list-avatar">
					<span class="list-cert-img headimg"><img src="../asset/images/doctors/default_head.png"></span>
					<img src="../asset/images/black-white/touxiang_icon.png">
					<div class="list-cert-text">
						<span class="list-text">个人头像</span>
						<small>请上传您本人图像清晰的彩色免冠正面像照片。</small>
					</div>
				</div>
				<div class="item line-bot u-name">
					<i class="ion-close-circled"></i>
					<img src="../asset/images/black-white/ico_name.png">
					<input class="inpTxt" type="text" name="username" placeholder="姓名">
				</div>
				<!-- <div class="item line-bot">
					<i class="ion-chevron-right"></i>
					<img src="../asset/images/black-white/chengshi_icon.png">
					<span class="list-text">所在地</span>
				</div> -->
				<div class="item line-bot reg-hospital">
					<i class="ion-chevron-right" style="display: block;"></i>
					<img src="../asset/images/black-white/inc_img32.png">
					<span class="list-text">医院</span>
				</div>
				<div class="item line-bot reg-Departments">
					<i class="ion-chevron-right" style="display: block;"></i>
					<img src="../asset/images/black-white/inc_img33.png">
					<span class="list-text">科室</span>
				</div>
				<div class="item line-bot reg-jobTitle">
					<i class="ion-chevron-right" style="display: block;"></i>
					<img src="../asset/images/black-white/icon_doc.png">
					<span class="list-text">职务名称</span>
				</div>
				<div class="item line-bot reg-jobLevel">
					<i class="ion-chevron-right" style="display: block;"></i>
					<img src="../asset/images/black-white/inc_img34.png">
					<span class="list-text">职称级别</span>
				</div>

				<div class="item line-bot list-cert">
					<span class="list-cert-img certificate"><img src="../asset/images/doctors/certificate.jpg" style="width: auto;"></span>
					<img src="../asset/images/black-white/touxiang_icon.png">
					<div class="list-cert-text">
						<span class="list-text">执业或资格证书</span>
						<small>请上传您本人的医师执业资格证内页(带本人头像)清晰照片。</small>
					</div>
				</div>

				<div class="radio isShow span_bot">
	                <div class="radioTit">
	                    <span>是否用户端显示：</span>
	                </div>
	                <div class="radio_list radio-is-show">
	                    <div class="radio-btn checkedRadio"><i><input type="radio" name="radio-btn" value="1" checked="checked"></i></div>
	                    <label for="">显示</label>
	                </div>
	                <div class="radio_list radio-is-show">
	                    <div class="radio-btn"><i><input type="radio" name="radio-btn" value="2"></i></div>
	                    <label for="">不显示</label>
	                </div>
				</div>
				
			</div>

			<div class="reg-button">提交审核</div> 
		</div>
	</div>
	<!-- 内容结束 -->
	<div class="reg-filter">
		<!-- 医院搜索 -->
		<div class="bar bar-header bar-hospital">
			<span class="ion-chevron-left reg-return"></span>
			<span class="search-text">
				<i class="ion-close-circled"></i>
				<img src="../asset/images/doctors/search.png">
				<input type="text" name="search" placeholder="搜索医院名称">
			</span>
			<span class="search-but">搜索</span>
		</div>
		<!-- 科室选择 -->
		<div class="bar bar-header bar-Departments">
			<span class="ion-chevron-left reg-return"></span>
			<span class="title title-address"></span>
		</div>

		<!-- 职称 -->
		<!-- <div class="bar bar-header bar-jobTitle">
			<span class="ion-chevron-left reg-return"></span>
			<span class="title title-address">职称</span>
		</div> -->

		<div id="scroll" class="scroll-content single doc-reg-top">
			<!-- <p class="reg-list-terms">输入医院名称查询</p> -->
			<div class="list reg-list-con">
				<div class="item line-bot">
					<i class="ion-checkmark-round"></i>
					<p>北京协和医院</p>
				</div>
			</div>
		</div>
		
		<div class="foot-but">确定</div>

	</div>
	
	<input type="file" id="inputfile" style="opacity:0">

	<!-- loading -->
	<div class="loadbox" style="display: block;">
		<div class="load-main"><i></i><p>加载中...</p></div>
	</div>
</body>
<script src="../asset/libs/sea/sea/2.2.0/sea.js"></script>
<script src="../asset/libs/sea/sea-css/1.0.5/seajs-css.js"></script>
<script src="../config.js"></script>
</script>
<script>
	if(!seajs.ISDEV){
		seajs.use("../asset/dist/pages/regedit");
	}else{
		seajs.use("../asset/src/pages/regedit");
	}

</script>
</html>