<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="balack" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../asset/libs/ionic/1.3.1/css/ionic.min.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/base/public.css">
	<link rel="stylesheet" type="text/css" href="../asset/css/style.css">
</head>
<body>
	
	<!-- <div class="reg-filter"> -->
		<!-- 医院搜索 -->
		<div class="bar bar-header bar-hospital">
			<span class="ion-chevron-left reg-return"></span>
			<span class="search-text">
				<i class="ion-close-circled"></i>
				<img src="../asset/images/doctors/search.png">
				<input type="text" name="search" placeholder="搜索医院名称">
			</span>
			<span class="search-but">搜索</span>
		</div>
	<!-- </div> -->

	<div id="wrapper" class="scroll-content single doc-reg-top">
		<div id="scroller">
			<!-- <p class="reg-list-terms">输入医院名称查询</p> -->
			<div class="list reg-list-con">
				<!-- <p class="reg-list-terms">输入医院名称查询</p> -->
			</div>
		</div>
	</div>
	<!-- 内容结束 -->
	
	
	

	<!-- loading -->
	<div class="loadbox" style="display: none;">
		<div class="load-main"><i></i><p>加载中...</p></div>
	</div>
</body>
<script src="../asset/libs/sea/sea/2.2.0/sea.js"></script>
<script src="../asset/libs/sea/sea-css/1.0.5/seajs-css.js"></script>
<script src="../config.js"></script>
</script>
<script>
	if(!seajs.ISDEV){
		seajs.use("../asset/dist/pages/selecthospital");
	}else{
		seajs.use("../asset/src/pages/selecthospital");
	}

</script>
</html>